/* GENERAL */
body{
   background: linear-gradient( to top,#f89832, 90%, #feefe0 );
  color: black;
   overflow-x: hidden;
 
}

div.row{
   margin-right: 0px;
}

div.container-fluid{
   padding-right: 0px;
}
p{
  margin-bottom: 0px;
  margin-left: : 100px;
  font-size: 1.5rem;
}

.loader_bg{
    position: fixed;
    z-index: 999999;
    background: #fff;
    width: 100%;
    height: 100%;
}
.loader{
    border: 0 soild transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
}

  .loader_bg img{
    display:inline-block;
    vertical-align:middle;
    margin-top: -40px;
    margin-left: 8px;
    animation-name:pulse_animation;animation-duration:2500ms;
    transform-origin:50% 50%;animation-timing-function:ease-in-out}
    @media (min-width: 375px){
.loader_bg img{max-width:180px !important;max-height:180px !important}}
@keyframes pulse_animation{0%{transform:scale(1)}100%{transform:scale(1.7)}}
   
 
.progress{position:relative;height:4px;display:block;width:100%;background-color:#F4F4F4;border-radius:2px;background-clip:padding-box;margin:0 auto;overflow:hidden}
.progress .loading-bar{background-color:#797d80}
.progress .indeterminate:before{content:'';position:absolute;background-color:inherit;top:0;left:0;bottom:0;will-change:left, right;-webkit-animation:indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;animation:indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite}
.progress .indeterminate:after{content:'';position:absolute;background-color:inherit;top:0;left:0;bottom:0;will-change:left, right;-webkit-animation:indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;animation:indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;-webkit-animation-delay:1.15s;animation-delay:1.15s}@-webkit-keyframes indeterminate{0%{left:-35%;right:100%}60%{left:100%;right:-90%}100%{left:100%;right:-90%}}
@keyframes indeterminate{0%{left:-35%;right:100%}60%{left:100%;right:-90%}100%{left:100%;right:-90%}}@-webkit-keyframes indeterminate-short{0%{left:-200%;right:100%}60%{left:107%;right:-8%}100%{left:107%;right:-8%}}@keyframes indeterminate-short{0%{left:-200%;right:100%}60%{left:107%;right:-8%}100%{left:107%;right:-8%}}

.logo{
  background-color: transparent;
}
.imagen1{
  background: ;
  margin-top: px;
 

}
.prox{
  font-family: 'Bebas Neue', cursive;
}
@media (min-width: 750px) {
  .imagen1 {
   margin-top: -150px;
  }
}

.titulo{
  font-family: 'Fredoka One', cursive;
  color: black ;
  


}

img{
  width: 100%;
}


.float{
  position:fixed;
  width:50px;
  height:50px;
  
  right:10px;
    bottom:10px;
  background-color:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
  text-decoration: none;
  color: #25d366;
  background-color:#fff;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-7px);
}

.my-float{
  margin-top:9px;
  margin-right: -1px;
}
#scroll {
    position:fixed;
    bottom:70px;
    right:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:black;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:white;
}
#scroll:hover {
    background-color:#6C757D;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}
/* PIE DE PÁGINA */

.pie{
  background-color: #FF5412;
    color:black;
  font-size: 8;
  text-align: center;
  margin-bottom: 0px;
  font-size: 1.2rem;
  color:black;
  position:relative;
  z-index: -1;
  text-decoration:none;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
}

.piepag {
  font-size: 1rem;
  text-align: center;
}

.center{display:table;width:100%;background-color:#FF5412;
margin-top:-25px;
margin-bottom:;}
#social-test{display:table-cell;vertical-align:middle;text-align:center;font-size:30px}
#social-test h2{color:#fff;font-family:Futura,"Trebuchet MS",Arial,sans-serif;font-weight:100}
#social-test .social{padding-left:0}
#social-test a{color:black;list-style-type:none;display:inline-block;width:50px;height:50px;line-height:50px;padding:1%;border:1px solid white;cursor:pointer;margin-left:10px;margin-bottom:20px;transition:ease .3s}
#social-test a:hover{color:#fff;border:1px solid #ccc}
.social:hover>a{opacity:.5}
.social:hover>a:hover{opacity:1}

.btn{
  text-decoration:none;
  color:black;
  border-color: #faca5d;
  background-color: #faca5d;
     font-family: 'Fredoka One', cursive;
    letter-spacing: 3px;
}


.btn:hover{
  text-decoration:none;
  color: #000;
  border-color: #000;
  background-color:transparent; 
 
}