/* GENERAL */
body{
  background: white;
  color: black;
   overflow-x: hidden;
 
}

div.row{
   margin-right: 0px;
}

div.container-fluid{
   padding-right: 0px;
}
p{
  margin-bottom: 0px;
  margin-left: : 100px;
  font-size: 1.5rem;
}


.logo{
  background-color: transparent;
}
.imagen1{
  background: #FFD143;
  margin-top: -57px;
 

}
.prox{
  font-family: 'Bebas Neue', cursive;
}
@media (min-width: 750px) {
  .imagen1 {
   margin-top: -150px;
  }
}

img{
  width: 100%;
}


.float{
  position:fixed;
  width:50px;
  height:50px;
  
  right:10px;
    bottom:10px;
  background-color:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
  text-decoration: none;
  color: #25d366;
  background-color:#fff;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-7px);
}

.my-float{
  margin-top:9px;
  margin-right: -1px;
}
#scroll {
    position:fixed;
    bottom:70px;
    right:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:black;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:white;
}
#scroll:hover {
    background-color:#e74c3c;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}
/* PIE DE PÃGINA */

.pie{
  background-color: #FF5412;
    color:black;
  font-size: 8;
  text-align: center;
  margin-bottom: 0px;
  font-size: 1.2rem;
  color:black;
  position:relative;
  z-index: -1;
  text-decoration:none;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
}

.piepag {
  font-size: 1rem;
  text-align: center;
}

.center{display:table;width:100%;background-color:#FF5412;
margin-top:-25px;
margin-bottom:;}
#social-test{display:table-cell;vertical-align:middle;text-align:center;font-size:30px}
#social-test h2{color:#fff;font-family:Futura,"Trebuchet MS",Arial,sans-serif;font-weight:100}
#social-test .social{padding-left:0}
#social-test a{color:black;list-style-type:none;display:inline-block;width:50px;height:50px;line-height:50px;padding:1%;border:1px solid black;cursor:pointer;margin-left:10px;margin-bottom:20px;transition:ease .3s}
#social-test a:hover{color:#fff;border:1px solid #ccc}
.social:hover>a{opacity:.5}
.social:hover>a:hover{opacity:1}
